* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  padding: 10px;
  margin: 8px;
}

input[type='text'],
input[type='password'] {
  border: none;
  text-align: center;
  font-size: 16px;
  width: 230px;
  font-weight: bold;
  transition: all 0.3s;
  border-radius: 8px;
}
h1 {
  position: relative;
}
input[type='text']:focus,
input[type='password']:focus {
  outline: 2px solid rebeccapurple;
}

input[type='submit'] {
  width: 75px;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
}

a {
  position: relative;
  top: 15px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  padding: 15px;
  width: 350px;
  height: 350px;
}
form {
  position: relative;
  top: 20px;
}
.sub {
  text-align: center;
}
